body {
    margin: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 60px 40px;
    font-family: system-ui, sans-serif;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    box-sizing: border-box;
    background-color: #ffffff;
    z-index: 10;
}

.logo {
    color: #c00aee;
    font-size: 50px;
    font-weight: bolder;
}

nav {
    margin-left: auto;
}

nav a {
    color: #333;
    font-size: 40px;
    text-decoration: none;
    margin-left: 20px;
}
